@media screen and (max-width: 576px) {
    .header-section .nav {
        padding: 20px
    }

    .header-section .nav .links {
        display: none;
    }

    .hamburger-manu-bars {
        display: block;
    }

    .banner-main-conteiner-section {
        flex-direction: column;
    }
    .banner-conteiner-section-all-text-and-button h1 {
        font-size: 2rem;
    }
    .banner-conteiner-section-all-text-and-button {
        height: auto;
    }
    .banner-conteiner-section-all-text-and-button button {
        margin-bottom: 20px;
    }

    .banner-conteiner-section-all-text-and-button .banner-section-btn {
        flex-direction: column;
    }

    .banner-main-conteiner-section .banner-image-section {
        max-width: 349px;
        height: auto;
        border: 1px solid lightslategray;
        margin-left: 10px;
        /* display: none; */
    }

    /* rount image section  */
    .change-Your-habits-rount-imges-conteiner-section {
        grid-template-columns: repeat(1, 1fr);
    }

    /* ==================================================================== Run an Extra Mile Easily-section-Start */
    .run-conteiner-section {
        flex-direction: column;
        height: auto;

    }

    .run-conteiner-title-and-description {
        height: auto;
    }

    .run-conteiner-section-images {
        max-width: 366px;
        height: auto;

    }

    .run-conteiner-section-images img {
        margin-bottom: 20px;
    }

    .traininer-images-section-or-galary {
        display: none;
    }

    .trainings-and-exercises-conteiner-section {
        display: none;
    }

    .meet-our-tem-section-images-conteiner {
        grid-template-columns: repeat(1, 1fr);
        height: auto;
    }

    .our-tem-members img {
        position: center;

    }

    .footer-conteiner {
        grid-template-columns: repeat(1, 1fr);
        height: auto;
        gap: 50px;
        margin-left: 20px;

    }

    .meet-our-tem-section-images-conteiner {
        /* margin: 0 auto; */
        margin-left: 30px;
        margin-right: 10px;
    }

    .meet-out-team-secion-title {
        max-width: 671px;
        height: auto;
    }

    .banner-main-conteiner-section {
        padding-left: 15px;
    }

    .run-conteiner-title-and-description {
        text-align: center;
    }

    .meet-our-tem-section-images-conteiner {
        margin-top: 30px;
    }

    .meet-out-team-secion-title .meet-titls {
        margin-bottom: 10px;
    }

    .footer-conteiner {
        margin-left: 10px;
    }

    .background-colors {
        height: auto;
    }

    .copy-write-2024-batch-10 {
        padding-bottom: 50px;
    }

    .bmi-calculate-chart-and-calculate-conteiner {
        flex-direction: column;
    }

    .bmi-table {
        max-width: 310px;
        height: auto;
        margin-left: 20px;
    }

    .full-conteiner-bg {
        height: auto;
    }

    .table,
    th,
    td {
        border: 1px solid rgba(250, 250, 210, 0.411);
        width: none;
        border-collapse: collapse;
        padding: none;
    }
    .bmi-table h1 {
        font-size: 1rem;
    }
    .caculated-bmi-conteiner-section {
        max-width: 577px;
        height: auto;
    }
    .titls-test-style-color {
        font-size: 1rem;
    }
    .bmi-calcultd-title-and-description {
        max-width: 354px;
        height: auto;
    }
    .bmi-calcultd-title-and-description p {
        font-size: 1rem;
    }

    /* .change-Your-habits-conteiner-section{
        margin-top: 1000px;
    } */
    .change-your-havits-section-title-and-description h1 {
        font-size: 3rem;
        font-weight: 900;
        
    }

    .full-body {
        height: auto;

    
    }
    .bmi-title-and-description{
       margin-left: 20px;
    }
    .bmi-calcultd-title-and-description{
        margin-left: 20px;
    }
    .inputes-seciton-conteiners{
        padding: 7px;
    }

    .widths-section{
        max-width: 1060px;
        height: auto;
        margin: 0 auto;
    }
    .bg{
        background-color: gray;
    }

    .Video-tutorial {
        top:97%;
        right:45%;

    }
    .free-video {
        top: 60%;
        right: 4%;
    }
    .rount{
        top: 35%;
        left: 5%;

    
    
    }

}