@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter-fronts {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color:rgb(255, 255, 255);
}
 /*======================================================================== SHARD STYLE */
 .hide{
    display:none;
 }
 .display{
    display: flex;
 }
 .littil-text-color{
    color:rgba(255, 255, 255, 0.5);;
 }
.border{
    border: 2px solid red;
}
.btn-primary{
    font-size: 1rem;
    font-weight: 600;
    padding: 10px 30px 10px 30px;
    border-radius: 46px;
    border: 1px solid rgb(255, 255, 255);
}
/* --------------------------------------------------------------------------------------------------- */


.full-body {
    max-width: 1305px;
    background-color: black;
    color: white;
    margin: 0 auto;
    height: 5000px;
    /*======================================================================== Not Improtent  */
    border: 1px solid rgb(77, 255, 0);
    /*======================================================================== Not Improtent  */

}

.main-conteiner-section {
    max-width: 1060px;
    border: 1px solid red;
    margin: 0 auto;
    margin-top: 57px;
}

/* ================================================================================ nav bar style heres  */
.header-section .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-section .nav h1 {
    color: rgb(230, 83, 60);
    font-size: 2.25rem;
    font-weight: 700;
}

.header-section .nav ul {
    display: flex;
    border: 5px solid yellow;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
    padding:8px 5px 10px 0px ;
}

.header-section .nav ul li {
    list-style: none;
}

.header-section .nav ul li a {
    background-color: tomato;
    padding: 7px 20px 7px 20px;
    margin-right: 20px;
    border-radius: 46px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    ;

}
.hamburger-manu-bars{
    display: none;
}
/* ===================================================================== banner-section-Start */
/* banner text */
.banner-main-conteiner-section{
    justify-content: space-between;
    margin-top: 100px;
    margin: 0 auto;
}
.banner-conteiner-section-all-text-and-button{
    border: 1px solid red;
    max-width:599.05px;
    height: 439px;
}
.banner-conteiner-section-all-text-and-button h1{
    font-size: 3.875rem;
    font-weight: 900;
    line-height: 110%;
}
.banner-conteiner-section-all-text-and-button p{
    font-size: 1rem;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.5px;
    margin: 25px 0px 25px 0px;
}
.banner-conteiner-section-all-text-and-button .join-club-button{
    background: rgb(230, 83, 60);
    border: none;
    margin-right: 20px;
}
.banner-conteiner-section-all-text-and-button .download-app{
    background-color: transparent;

}

/* banner images section */

.banner-main-conteiner-section .banner-image-section{
    width:349px;
    height: 580px;
    border: 1px solid yellow; 
}
.banner-main-conteiner-section .banner-image-section img{
    width:100%;
    height: 100%;
}