@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/miama');
.inter-fronts {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
}
.miami{
    font-family: 'Miama', sans-serif;
}

/*=========================================================== SHARD STYLE */
.hide {
    display: none;
}

.display {
    display: flex;
}

.titls-test-style-color {
    color: rgb(255, 255, 255);
    font-size: 3rem;
    font-weight: 900;
}

.littil-text-color {
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.875rem;
    font-weight: 400;
}

.btn-primary {
    font-size: 1rem;
    font-weight: 600;
    padding: 10px 30px 10px 30px;
    border-radius: 46px;
    border: 1px solid rgb(255, 255, 255);
}

/* --------------------------------------------------------------------------------------------------- */

.full-body {
    background-color: black;
    color: white;
    margin: 0 auto;
}

.main-conteiner-section {
    max-width: 1060px;
    margin: 0 auto;
}

/* ===================================================== nav bar style heres  */
.header-section {
    margin-bottom: 20px;
}

.nav {
    padding-top: 40px;
}

.header-section .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-section .nav h1 {
    font-style: italic;
    color: rgb(230, 83, 60);
    font-size: 2.25rem;
    font-weight: 700;
}

.header-section .nav ul {
    display: flex;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
    padding: 8px 5px 10px 0px;
}

.header-section .nav ul li {
    list-style: none;
}

.header-section .nav ul li a {
    background-color: tomato;
    padding: 7px 20px 7px 20px;
    margin-right: 20px;
    border-radius: 46px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    ;

}

.hamburger-manu-bars {
    display: none;
}

/* ==================================================== banner-section-Start */
/* banner text */
.banner-main-conteiner-section {
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 50px;
}

.banner-conteiner-section-all-text-and-button {
    max-width: 599.05px;
    height: 439px;
}

.banner-conteiner-section-all-text-and-button h1 {
    font-size: 3.875rem;
    font-weight: 900;
    line-height: 110%;
}

.banner-conteiner-section-all-text-and-button p {
    font-size: 1rem;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.5px;
    margin: 25px 0px 25px 0px;
}

.banner-conteiner-section-all-text-and-button .join-club-button {
    border: none;
    margin-right: 20px;
    background-color: #E6533C;
}

.banner-conteiner-section-all-text-and-button .download-app {
    background-color: transparent;

}

/* banner images section */
.banner-main-conteiner-section .banner-image-section {
    max-width: 349px;
    height: 580px;
}

.banner-main-conteiner-section .banner-image-section img {
    width: 100%;
    height: 100%;
}

/* ================================================== change-Your-habits-Start */
.change-your-havits-section-title-and-description {
    text-align: center;
}

.change-your-havits-section-title-and-description h1 {
    font-size: 3rem;
    font-weight: 900;
}

.change-your-havits-section-title-and-description p {
    margin-top: 15px;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 24px;
}

.change-Your-habits-conteiner-section {
    margin-top: 120px;
}

.change-Your-habits-rount-imges-conteiner-section {
    margin-top: 58px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-between;
    gap: 20px;
}

.rount-images-secion {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.rount-images-secion h5 {
    margin: 15px 0px 10px 0;
    font-size: 1rem;
    font-weight: 600;
}

.rount-images-secion p {
    text-align: center;
    font-size: 0.825rem;
}

.rount-images-secion img {
    border-radius: 50%;
    border: 1px solid lightcyan;
}

/* ============================================= Run an Extra Mile Easilysection-Start */
.run-conteiner-section {
    display: flex;
    margin-top: 100px;
    background-color: rgb(34, 34, 34);
    height: 371px;
    border-radius: 18px;
    border: 1px solid rgba(255, 255, 255, 0.1);

}

.run-conteiner-title-and-description {
    max-width: 443px;
    height: 289px;
    margin: 0 auto;
    margin-top: 41px;
}

.run-conteiner-title-and-description p {
    margin: 11px 0px 30px 0px;
}

.run-conteiner-title-and-description button {
    background-color: rgb(230, 83, 60);
    border: lightslategray;
    padding: 10px 50px 10px 50px;

}

.run-conteiner-section-images {
    max-width: 366px;
    height: 312px;
    margin: 0 auto;
    margin-top: 30px;
}

.run-conteiner-section-images img {
    width: 100%;
    height: 100%;
    border-radius: 18px;
}

/*  =============================================== Trainings and Exercises-section-Start  */

.trainings-and-exercises-conteiner-section {
    margin-top: 100px;
}

.trainings-and-exercises-title-and-discription {
    width: 671px;
    height: 119px;
}

/* =========================================== Trainings and Exercises-galary-section-Start  */


.traininer-images-section-or-galary img {
    width: 100%;
    height: 100%;


}

.traininer-images-section-or-galary {
    margin-top: 58px;
    height: 403px;
    display: grid;
    grid-template-columns: repeat(12, 12fr);
    grid-template-rows: repeat(12, 12fr);
}

.firs-one {
    grid-column: 1 /span 3;
    grid-row: 1 /span 6;
    z-index: 1;
    position: relative;

}

.firs-two {
    grid-column: 4 /span 6;
    grid-row: 1 /span 6;
    border: 2px solid green;
    z-index: 1;
    position: relative;
}

.firs-three {
    grid-column: 10 /span 3;
    grid-row: 1 /span 6;
}

/* ================================================================= */
.firs-four {
    grid-column: 1 /span 5;
    grid-row: 7 /span 6;
}

.firs-five {
    grid-column: 6 /span 3;
    grid-row: 7 /span 6;
    z-index: 2;
    position: relative;

}

.firs-six {
    grid-column: 9 /span 4;
    grid-row: 7 /span 6;
    z-index: 1;
    position: relative;
}

.full-time {
    height: 100%;
    width: 100%;
    background-color: rgba(6, 255, 210, 0.50);
    position: absolute;
    top: 00%;
}

.seconed-time {
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: rgba(255, 0, 0, 0.30);
    top: 00%;
}

.five-times {
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: rgba(66, 255, 0, 0.30);
    top: 0%;

}

.six-time {
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: rgba(0, 71, 255, 0.30);
    top: 0%;
}

/*  ================================================== Meet Our Team-section-Start  */
.meet-out-team-conteiner-section {
    margin-top: 90px;
}

.meet-out-team-secion-title {
    max-width: 671px;
    height: 120px;
    text-align: center;
    margin: 0 auto;
}

.meet-our-tem-section-images-conteiner {
    margin-top: 60px;
    height: 604px;
    border-radius: 18px;
    background-color: rgba(255, 255, 255, 0.1);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
}

.meet-our-tem-section-images-conteiner img {
    width: 100%;
    height: 100%;
    border-radius: 18px;
}

.our-tem-members {

    max-width: 326.67px;
    height: 272px;
}

.meet-our-tem-section-images-conteiner h6 {
    font-size: 0.800rem;
}

.meet-our-tem-section-images-conteiner p {
    font-size: 0.600rem;
}

.first-person {
    display: flex;
    position: relative;
}

.first-person-name {
    position: relative;
    top: 80%;
    right: 70%;
}

/* ================================================== footer-section-Start  */
.footer-conteiner {
    max-width: 1060px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 100px;
    margin: 0 auto;
    margin-top: 90px;
}


.brand-name-or-logo {
    color: rgb(230, 83, 60);
    font-style: italic;
    font-size: 4.375rem;
    font-weight: 800;
    margin-top: 50px;

}

.started h1,
.service h1 {
    margin-top: 50px;
    margin-bottom: 10px;
}

.started h6,
.service h6 {
    margin: 7px;
}

.hrs {
    height: 0px;
    border: 2px solid rgba(255, 255, 255, 0.1);
    margin: 0 auto;

}

.hr .copy-wright-clime {
    margin-top: 36px;
    height: 24px;
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
}


/* footer color test  */


.background-colors {
    height: 500px;
    background: rgba(255, 255, 255, 0.294);
}

.full-heights {
    max-width: 1060px;
    margin: 0 auto;
    margin-top: 90px;
}

.copy-write-2024-batch-10 {
    margin-top: 25px;
    font-size: 1.25rem;
    text-align: center;
}

/* <!-- >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> --> */

.bmi-title-and-description p {
    margin-top: 10px;
}

.bmi-title-and-description {
    max-width: 671px;
    margin: 0 auto;
    margin-top: 70px;
}

.full-conteiner-bg {
    height: 487;
    margin-top: 90px;
    background-color: rgb(34, 34, 34);
}

.bmi-calculate-chart-and-calculate-conteiner {
    max-width: 1060px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

}

.bmi-table {
    width: 400px;
    height: 216px;
    margin-top: 55px;
}

.bmi-table h1 {
    margin-bottom: 20px;
    text-align: center;
}

.bmi-table h1 {
    font-size: 1.5625rem;
}

table td {
    font-size: 15px;
    color: rgba(255, 255, 255, 0.5)
}

table,
th,
td {
    border: 1px solid rgba(250, 250, 210, 0.411);
    width: 100%;
    border-collapse: collapse;
    padding: 7px 70px 7px 18px;
}

/* ---------------- calculated bmi section */
.caculated-bmi-conteiner-section {
    max-width: 577px;
    margin-top: 35px;
}

.bmi-calcultd-title-and-description h1 {
    margin-top: 20px;
    font-size: 1.5625rem;
    margin-bottom: 10px;
}

.inputes-seciton-conteiners {
    margin-top: 35px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

#full-sizes {
    width: 100%;
}

#full-size {
    grid-column: span 2;
    width: 100%;
}

.calculated-btn button {
    background: rgb(230, 83, 60);
    padding: 10px 40px 10px 40px;
    margin: 20px 10px;
}

.inputes-seciton-conteiners input,
.inputes-seciton-conteiners select {
    width: 95%;
    background-color: rgba(255, 255, 255, 0.112);
    padding: 10px 0px 10px 10px;
    border: none;
    border-radius: 8px;
    color: rgba(255, 255, 255, 0.6);



}

.inputes-seciton-conteiners input ::placeholder {
    color: rgba(255, 255, 255, 0.6);
    margin-left: 10px;
}

#class {
    width: 100%;
}

/* upper .background-colors */

.background-section {

    background: linear-gradient(180.00deg, rgb(17, 17, 17), rgba(119, 119, 119, 0) 100%);
    height: 625px;

}

.widths-section {
    max-width: 1060px;
    margin: 0 auto;
}

.bg {
    background-color: gray;
}

/* ------------------- top button section */
.banner-image-section img {
    position: relative;
}

.free-video {
    position: absolute;
    width: 193px;
    height: 98px;
    border: 1px solid red;
    top: 300px;
    right: 5%;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    background: rgba(255, 255, 255, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.free-video h1{
    font-size: 2.5rem;
font-weight: 900;
}
.free-video p{
    font-size: 0.775rem;
    color: rgba(255, 255, 255, 0.65);

}

.Video-tutorial {
    position: absolute;
    width: 193px;
    height: 98px;
    border: 1px solid red;
    bottom:5%;
    right: 25%;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    background: rgba(255, 255, 255, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.Video-tutorial h1{
    font-size: 2.5rem;
    font-weight: 900;
}
.Video-tutorial p{
    font-size: 0.775rem;
    color: rgba(255, 255, 255, 0.65);
}
.rount{
    width: 25px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    top: 35%;
    left: 5%;
    background-color: red;


}

/* ----------------------------- card */
.card {
    min-height: 200px;
    padding: 10px;
    box-shadow: 8px 8px 8px rgba(215, 205, 205, 0.423);
    border-radius: 16px;
}

.card img {
    width: 100%;
    border: 8px;
    object-fit: cover;
}

.popular-collection-section {
    margin-top: 150px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
